.header-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .header-cell {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #FF9F43;
   color: "white"
  }
  